<div class="container-fluid">

  <div class="row">

    <div class="col-md-6" id="img-bg"></div>

    <div class="col-md-6 mt-5 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10">

          <h1 class="text-center">Cadastro</h1>

          <div class="form-group">
            <label for="nome">Nome</label>
            <input id="Nome" class="form-control" type="text" name="Nome" placeholder="Seu Nome">

          </div>

          <div class="form-group">
            <label for="usuario">Usuário</label>
            <input id="Usuário" class="form-control" type="text" name="Usuário" placeholder="Seu Usuário">
          </div>

          <div class="form-group">
            <label for="foto">Link da Foto</label>
            <input id="Foto" class="form-control" type="text" name="Biográfia" placeholder="Link da Sua Foto">
          </div>

          <div class="form-group">
            <label for="senha">Senha</label>
            <input id="Senha" class="form-control" type="password" name="Senha" placeholder="Sua Senha">
          </div>


          <div class="form-group">
            <label for="confirmaSenha">Confirmar Senha</label>
            <input id="ConfirmaSenha" class="form-control" type="password" name="confirmaSenha"
              placeholder="Corfirme Sua Senha">
          </div>

          <div class="form-group">
            <label for="tipo">Tipo Usuário</label>
            <select class="form-control" name="tipo" id="tipo">
              <option>Selecione o tipo de usuário:</option>
              <option value="normal">Nomal</option>
              <option value="admin">Administrador</option>
            </select>

            <div class="d-flex justify-content-center mt-5">
              <button type="submit" class="btn btn-danger m-1">Cancelar</button>
              <button type="submit" class="btn btn-success m-1">Cadastrar</button>
            </div>



          </div>

        </div>

      </div>

    </div>

  </div>
