<div class="container-fluid">

  <div class="row">

    <div class="col-md-6" id="img-bg"></div>

    <div class="col-md-6 mt-5 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10">

          <h1 class="text-center">Cadastro</h1>

          <div class="form-group">
            <label for="nome">Nome</label>
            <input [(ngModel)]='user.nome' id="nome" class="form-control" type="text" name="nome"
              placeholder="Seu Nome">

          </div>

          <div class="form-group">
            <label for="nomeUsuario">Usuário</label>
            <input [(ngModel)]='user.nomeUsuario' id="nomeUsuario" class="form-control" type="text" name="nomeUsuario"
              placeholder="Seu Usuário">
          </div>

          <div class="form-group">
            <label for="foto">Link da Foto</label>
            <input [(ngModel)]='user.foto' id="foto" class="form-control" type="text" name="foto"
              placeholder="Link da Sua Foto">
          </div>

          <div class="form-group">
            <label for="senha">Senha</label>
            <input (input)='confirmSenha($event)' id="senha" class="form-control" type="password" name="senha"
              placeholder="Sua Senha">
          </div>

          <div class="form-group">
            <label for="confirmSenha">Confirmar Senha</label>
            <input [(ngModel)]='user.senha' id="confirmSenha" class="form-control" type="password" name="confirmSenha"
              placeholder="Corfirme Sua Senha">
          </div>

          <div class="form-group">
            <label for="tipo">Tipo Usuário</label>
            <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
              <option>Selecione o tipo de usuário:</option>
              <option value="normal">Nomal</option>
              <option value="admin">Administrador</option>
            </select>

            <div class="d-flex justify-content-center mt-5">
              <button type="submit" class="btn btn-danger m-1" routerLink='/entrar'>Cancelar</button>
             <button  class="btn btn-success m-1" (click)='cadastrar()' >Cadastrar</button>

          </div>

        </div>

      </div>

    </div>

  </div>
