#img-bg{
  background-image: url('https://blush.design/api/download?shareUri=g1HMVTleXFY4hEeH&c=Skin_0%7E694d3d&bg=6d6d6d&w=800&h=800&fm=png');
  min-height: 695px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.buttom{

  padding: 5px;

}
